
.home {
  padding: 0.5rem 0;  /* Reduce top & bottom padding */
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: -150px;
}
  .search-form {
    position: relative;
    max-width: 1600px; /* Increase width */
    margin: 3rem auto 1.5rem;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.search-input {
    flex: 1;
    padding: 1rem 1.5rem; /* Increase padding for bigger size */
    font-size: 1.2rem; /* Increase font size */
    min-height: 50px; /* Increase height */
    border-radius: 45px;
    width: 500px;
}



  .search-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #666;
  }
  
  .search-button {
    padding: 0.75rem 1.5rem;
    background-color: #e50914;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    transition: background-color 0.2s;
    white-space: nowrap;
    min-height: 50px; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
  
  .search-button:hover {
    background-color: #f40612;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px; /* Increased for better visibility */
    /*background-color: #1e1e1e; /* Dark theme */
    /*color: #fff;*/
    padding: 20px;
  }
  
  .header-container h2 {
    font-size: 5rem; /* Bigger size */
    font-weight: 900; /* Maximum boldness */
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px; /* Slight spacing for emphasis */
  }
  
  .header-container p {
    font-size: 1rem; /* Smaller text */
    font-weight: 300; /* Lighter to contrast with h2 */
    max-width: 80%;
    margin-top: 5px;
    opacity: 0.5; /* Slight transparency for subtle effect */
  }
  
  
  @media (max-width: 639px) {
    .home {
      padding: 1rem 0;
    }
  
    .search-form {
      margin-bottom: 1rem;
    }
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
 

